CONFIG_LOG_DEFAULT_LEVEL=5

CONFIG_ESP_WIFI_SSID="ssid_${IDF_TARGET}_${CI_PIPELINE_ID}"
CONFIG_ESP_WIFI_PASSWORD="password_${IDF_TARGET}_${CI_PIPELINE_ID}"

CONFIG_ENV_GPIO_RANGE_MIN=0
CONFIG_ENV_GPIO_RANGE_MAX=30
CONFIG_ENV_GPIO_IN_RANGE_MAX=30
CONFIG_ENV_GPIO_OUT_RANGE_MAX=30
# CONFIG_BLINK_LED_GPIO is not set
CONFIG_BLINK_LED_STRIP=y
CONFIG_BLINK_LED_STRIP_BACKEND_RMT=y
# CONFIG_BLINK_LED_STRIP_BACKEND_SPI is not set
CONFIG_BLINK_GPIO=23
CONFIG_BLINK_PERIOD=1000
